<h2 style="margin-left : 1%;margin-bottom : 2%;margin-top: 5%;">QCM n°2 LA MATIERE </h2>
<div  *ngFor="let question of QuestionTab" class="container">
    <div class="row">
        <p class="question">{{question.enonce}} </p>
    </div>
    <div class="row">
        <ul>
            <li *ngFor="let choix of question.copieChoix">
                <input #check type="checkbox" (click)="coche(question._id,choix._id,check.checked)" [ngModel] = "choix.cochee" />
                <label>{{choix.enonce}}</label>
            </li>
           
        </ul>
    </div>
</div>
<div style="display: flex;width: 100%;justify-content: center;">
<input type="button" value="Valider" class="btn btn-success" (click)="valider()"/>
</div>