<h2 style="margin-left : 1%;margin-bottom : 2%;margin-top: 5%;">QCM n°2 LA MATIERE </h2>
<div class="container">
    <div class="row">
        <p class="question">Quel est la taille de la planete terre en sachant que la distance lune soleil multiplié par n vaut 1500
            0000km et que les aliens n'osent pas s'en approcher ? </p>
    </div>
    <div class="row">
        <ul>
            <li>
                <input type="checkbox" />
                <label>1500km</label>
            </li>
            <li>
                <input type="checkbox" />
                <label>1500km</label>
            </li>
            <li>
                <input type="checkbox" />
                <label>1500km</label>
            </li>
            <li>
                <input type="checkbox" />
                <label>1500km</label>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="question">Quel est la taille de la planete terre en sachant que la distance lune soleil multiplié par n vaut 1500
            0000km et que les aliens n'osent pas s'en approcher ? </p>
    </div>
    <div class="row">
        <ul>
            <li>
                <input type="checkbox" />
                <label>1500km</label>
            </li>
            <li>
                <input type="checkbox" />
                <label>1500km</label>
            </li>
            <li>
                <input type="checkbox" />
                <label>1500km</label>
            </li>
            <li>
                <input type="checkbox" />
                <label>1500km</label>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <p class="question">Quel est la taille de la planete terre en sachant que la distance lune soleil multiplié par n vaut 1500
            0000km et que les aliens n'osent pas s'en approcher ? </p>
    </div>
    <div class="row">
        <ul>
            <li>
                <input type="checkbox" />
                <label>1500km</label>
            </li>
            <li>
                <input type="checkbox" />
                <label>1500km</label>
            </li>
            <li>
                <input type="checkbox" />
                <label>1500km</label>
            </li>
            <li>
                <input type="checkbox" />
                <label>1500km</label>
            </li>
        </ul>
    </div>
</div>
<div style="display: flex;width: 100%;justify-content: center;">
<input type="button" value="Valider" class="btn btn-success" (click)="valider()"/>
</div>