
#home{
    text-align:  center;
    position: relative;
}

#home h1{
    margin-top : 15%;
}
#home h1{
    font-size: 100px;
    font-weight: bolder;
}


#home img{
    transform:scaleX(-1);
    position:absolute;
    z-index: 2;
    top: 0px;
}
