h2{
    font-weight: bolder;
    font-size: 36px;
}
.row{
    background-color: white;
    border-radius: 10px;
    border : 1x grey solid;
    margin-bottom: 1%;
}

.row:hover{
    background-color: rgba(255, 198, 27, 0.712);
    cursor: pointer;
}

.col{
    padding-top : 20px;
    padding-bottom : 8px;
}

#title{
    padding-left : 5%;
    text-align: start;
}
#date{
    text-align: center;
}
#time{
    text-align: end;
    padding-right : 5%;
}


.container{
    overflow-y: scroll;
    max-height: 600px;
}


  