<h2 style="margin-left : 1%;margin-bottom : 2%;margin-top: 5%;">Examens disponibles : </h2>
<div class="container">
    <div *ngFor="let exam of data" class="row" [routerLink]="['/qcm' ,exam.id]">
      <div id ="title" class="col">
        {{exam.title}}
      </div>
      <div  id="date" class="col">
        <!--<p *ngIf="!date">Disponible le : 02/10/1999 à 10h</p> -->
        <p>Jusqu'au : {{exam.fin}}</p>
      </div>
      <div id="time" class="col">
        {{exam.duree}}
      </div>
    </div>
    
  </div>


